/* ─── Search Page Specifics ───────────────────────────────── */

.search-page {
	padding-top: 40px;
}

.top-nav {
	display: flex;
	margin-bottom: 2rem;
}

.back-btn {
	background: none;
	border: none;
	color: var(--text-h);
	font-size: 1.5rem;
	font-weight: 300;
	cursor: pointer;
	padding: 0;
	display: flex;
	align-items: center;
	text-decoration: none;
}

/* Search Input Bar */
.search-input-wrapper {
	background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid var(--border);
	border-radius: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.75rem 1rem;
	margin-bottom: 2rem;
}

[data-theme="dark"] .search-input-wrapper {
    background-color: #333131;
    border: none;
}

.search-input-wrapper input {
	background: none;
	border: none;
	color: var(--text-h);
	font-size: 1rem;
	font-family: inherit;
	width: 100%;
	outline: none;
}

.search-input-wrapper input::placeholder {
	color: var(--text);
    opacity: 0.6;
}

.search-icon-btn {
	background: none;
	border: none;
	color: var(--text-h);
	font-size: 1rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 0;
	transform: scaleX(-1);
}

/* Results List */
.results-list {
	display: flex;
	flex-direction: column;
}

.result-item {
	display: block;
	padding: 1.25rem 0.5rem;
	font-size: 1rem;
	color: var(--text);
	border-bottom: 1px solid var(--border);
	cursor: pointer;
	transition: all 0.2s ease;
	text-decoration: none;
}

.result-item:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

[data-theme="dark"] .result-item:hover {
    background-color: #2a2828;
}